body {
  background: #f5f7fa;
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full viewport height */
  margin: 0;  /* Remove default margin */
}

.avatar {
  position: relative; /* Makes the .avatar container a positioning context. allows all the child elements (like hair, eyes, mouth) that use position: absolute to be placed relative to this circle */
  width: 200px; 
  height: 200px;
  background: #ffe0bd;
  border-radius: 50%; /* Makes the avatar circular */
  box-shadow: 0 0 0 1px #333; /* Adds a border-like effect */
}

.hair {
  position: absolute; /* Allows positioning relative to the .avatar container */
  top: -5px; /* Positions the hair at the top of the avatar */
  width: 100%;
  height: 80px; /* Adjust height for hair */
  background: #1c1401;
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
}

.eye {
  position: absolute;
  top: 90px; /* Adjusted to position eyes lower */
  right: 170px;
  width: 20px;
  height: 10px;
  background: #000;
  border-radius: 50%;
}